---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Philosophy from "../components/Philosophy.astro";
import Services from "../components/Services.astro";
import Mirror from "../components/Mirror.astro";
import About from "../components/About.astro";
import Resources from "../components/Resources.astro";
import Booking from "../components/Booking.astro";
import FAQ from "../components/FAQ.astro";
import Connect from "../components/Connect.astro";
import Footer from "../components/Footer.astro";
import MobileCTA from "../components/MobileCTA.astro";
---

<Layout path="/">
  <Header />
  <main id="main">
    <Hero />
    <Philosophy />
    <Services />
    <Mirror />
    <About />
    <Resources />
    <Booking />
    <FAQ />
    <Connect />
  </main>
  <Footer />
  <MobileCTA />
</Layout>
